table {
    font-family: arial, sans-serif;
    font-size: 12px;
    padding: 5px;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap: break-word;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

td, th {
    border: 1px solid #cccccc;
}

th { text-align: center; background-color: #C8DDDB; font: bold white; padding: 5px}

td { text-align: left; background-color: #F4FBFA }

input[type=text].placeholder {
  background-color:#F6F6F6;
  color: #999;  
   font-weight: normal; 
}

table input[type=text], table input[type=number], table select {
  background-color: rgba(0,0,0,0);
  padding: 5px;
    border:none;
}

table input[type=number] { text-align: center; width: 82px; }
table select { width: 60px; } 
